@import url("./reset.css");
@import url("./colors.css");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/** LOGO **/
.logo {
  height: 120px;
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo__subtitle,
.logo__description {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
}

.logo__subtitle {
  font-size: 70px;
  font-family: 'Righteous', cursive;
  height: 70px;
  text-decoration: none;
}

.logo__description {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #909096;
}

/** LOGO **/

.sidebar>nav {
  height: 200px;
}

.menu {
  list-style: none;
  height: 100%;
  width: 100%;
  border-top: 1px solid var(--color-second);
}

.menu-item {
  width: 100%;
  height: 50px;
}

.menu-item>a {
  text-decoration: none;
  color: #909096;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid var(--color-second);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  background-color: var(--color-second);
}

.social {
  list-style: none;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;

}

.social__item>a {
  text-decoration: none;
  color: #909096;
  font-size: 25px;
}

.linkedin>a:hover {
  color: #0077B5;
}

.github>a:hover {
  color: #333333;
}

.instagram>a:hover {
  color: #E4405F;
}

/* end sidebar */

/* WRAPPER */
.wrapper {
  position: relative;
  top: 0;
  left: 130px;
  height: 100%;
  width: calc(100% - 130px);
  background-color: var(--color-third);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1400px) {
  .wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

}

/* WRAPPER */


/* CONTENT */

.content {
  padding: 10px 20px;
}

/* CONTENT */


/* BOX */
.box {
  height: auto;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

@media (max-width: 1400px) {

  .box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
  }

}

@media (max-width: 800px) {

  .box {
    margin-top: 10rem;
  }

}

@media (max-width: 700px) {

  .box {
    margin-top: 10rem;
  }

}


.box__title {
  font-size: 67px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: var(--color-white);
}

.box__body {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}

/* BOX */

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  width: 900px;
  height: auto;
  flex: 1;
}

@media (max-width: 1400px) {

  .column {
    width: 100%;
    align-items: center;
  }

}

@media (max-width: 700px) {

  .column {
    width: 100%;
    align-items: center;
  }

}

@media (max-width: 300px) {

  .column {
    width: 100%;
    align-items: center;
  }

}

.content-paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #909096;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
}

/** PRESENTATION */

.background__animation {
  position: relative;
}

.presentation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.presentation__greeting,
.presentation__role,
.presentation__btn-contact {
  font-family: 'Roboto', sans-serif;
}

.presentation__greeting {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-white);
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.presentation__name {
  font-size: 1.2em;
  font-weight: bold;
}

.presentation__role {
  font-weight: 400;
  font-size: 30px;
  color: #d1d1d1;
  margin-top: 20px;
  animation: fadeInup 1s ease-out;
}

@keyframes fadeInup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.presentation__btn-contact {
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {

  .presentation {
    position: absolute;
    top: 3%;
    left: 11%;
    transform: translate(-3%, -11%);
  }

  .presentation__greeting {
    font-size: 4rem;
  }
}

@media (max-width: 700px) {

  .presentation {
    position: absolute;
    top: 3%;
    left: 11%;
    transform: translate(-3%, -11%);
  }

  /* .presentation__greeting {
    font-size: 65px;
  } */

}

@media (max-width: 600px) {

  .presentation {
    position: absolute;
    top: 3%;
    left: 11%;
    transform: translate(-3%, -11%);
  }

  /* .presentation__greeting {
    font-size: 50px;
  } */

}

@media (max-width: 500px) {

  .presentation {
    position: absolute;
    top: 2%;
    left: 7%;
    transform: translate(-2%, -7%);
  }

  /* .presentation__greeting {
    font-size: 45px;
  } */

}

@media (max-width: 400px) {

  .presentation {
    position: absolute;
    top: 2%;
    left: 7%;
    transform: translate(-2%, -7%);
    align-items: center;
    justify-content: center;
  }

  /* .presentation__greeting {
    font-size: 40px;
  } */

  .presentation__btn-contact {
    width: 100%;
  }

}

@media (max-width: 300px) {

  .presentation__greeting {
    font-size: 30px;
  }

  .presentation__btn-contact {
    width: 100%;
  }
}

/* PRESENTATION */

/* Start about me */
.about-img {
  width: 100%;
}

.about-img>img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

/* End about me */

/* Start Skill and Experience */


.experiences {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
}

.experience-card {
  width: 260px;
  height: 260px;
  background-color: #2a2a2a;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.experience-header,
.experience-body,
.experience-footer {
  width: 100%;
}

.experience-header>h1 {
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}

.experience-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}

.experience-body>p,
.experience-footer>p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
}

/* End skills and Experience */

/* Start Contact */

.column-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 50%;
  height: 90%;
}

.map {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

.contact-form {
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
}

.form-grid>input {
  width: 100%;
  height: 50px;
  border: 0;
  background: #2b2b2b;
  font-size: 16px;
  color: #8d8d8d;
  padding: 0 20px;
}

.form-grid>input:focus,
textarea:focus {
  outline: none;
}

.form-grid>textarea {
  border: 0;
  background: #2b2b2b;
  font-size: 16px;
  color: #8d8d8d;
  padding: 0 20px;
}

.form-grid>input:nth-child(3),
textarea {
  grid-column: 1/span 2;
}

.form-grid>button {
  grid-column: 2;
  grid-row: 4;
  height: 50px;

  background-color: #2b2b2b;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;

  border: 1px solid white;
  color: white;
}

/* .form-grid > button:hover {
  background-color: #04AA6D;
  color: white;
  border: none;
} */

/* End Contact */


@media (max-width: 1400px) {

  .sidebar {
    display: none;
  }

  .experiences {
    display: flex;
    flex-direction: row;
  }

  .about-img {
    width: auto;
    margin-top: 60px;
  }

  .column-map {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .map {
    padding: 0;
    width: 100%;
  }

}

@media (max-width: 900px) {

  .presentation {
    position: absolute;
    top: 3%;
    left: 11%;
    transform: translate(-3%, -11%);
  }

  .experience-card {
    width: auto;
  }
}

@media (max-width: 800px) {

  .experiences {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 700px) {

  .experiences {
    display: flex;
    flex-direction: column;
  }

  .form-grid {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 500px) {

  .content-title {
    font-size: 45px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: var(--color-white);
  }


  .presentation>h1 {
    font-size: 45px;
  }


  .presentation>h1 {
    font-size: 45px;
  }

}

@media (max-width: 400px) {

  .content-description {
    margin-top: 40px !important;
  }

}

@media (max-width: 300px) {

  .content-description {
    margin-top: 20px !important;
  }

  .content-title {
    font-size: 40px;
  }

  .about-img {
    margin-top: 30px;
  }

  .form-grid {
    width: 260px;
  }

  .contact-form {
    width: 260px;
  }

  .column-map {
    width: 260px;
  }
}